.imgContainer {
  width: 250px;
  height: 240px;
  overflow: hidden;
  border-radius: 8px;
}
.img {
  width: 100%;
  transition: all 0.5s;
}
.img:hover {
  opacity: 0.9;
}
.tags {
  margin: -20px 0 0px 5px;
}
.title{
  color: #222222;
}
.tag{
    color: #4e4545;
    font-weight: 600;
    cursor: pointer;
}
.post {
  margin: 15px 15px 0 ;
}
